<div class="d-flex w-100 my-3 align-content-start ">
    <%= image_tag(@group.icon.url, class: "group_icon")%>
    <div class="ms-2">
        <h1 ><%=@group.name%></h1>
        <small> Total amount of hours: <%=@amount%></small></br>
        <%= link_to "Edit", edit_group_path(@group.id), class:"navbar_link"%>
        <%= link_to "Delete", group_path(@group.id), method: :delete, class:"navbar_link"%>
    </div>
    
    
</div>

<p class="align-self-center"> </p>
<%= render "books/books", books: @books%>

