<h1> <%= @user.username%> <h1>
<div>
<%= image_tag(@user.icon_link.url)%>
<%= link_to "All my books", books_path %>
<%= link_to "All my incategorized books",  external_books_path%>
<%= link_to "All my groups", groups_path %>
<h2>  stats <h2>
<%= @amount_hours%>
<%= user_edit(@user)%>
<%= user_cancel(@user)%>
</div>


  